html body {
  margin: 0;
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-img {
  position: absolute;
  z-index: -1;
  grid-column: 1/3;
  grid-row: 1/1;
  background-image: url(https://cdn.openart.ai/stable_diffusion/d6c3ac4a53bce8f5d457ece9fd90efcf49ae5db2_2000x2000.webp);
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 96, 96);
  border-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  width: 40%;
}

header a {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 6px;
  padding: 12px;
}

header h1 {
  font-size: 38px;
}
header p {
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content-box-title {
  width: 100%;
  text-align: center;
}

.content-box-text {
  width: 30%;
  height: 100%;
  text-align: center;
}

.content-box-text ul li {
  list-style-type: none;
}

footer {
  display: flex;
  width: 100%;
}
